@import "./assets/styles/vars.scss";

#root {
  background-color: $tg-theme-bg;
  color: $tg-theme-text;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  max-width: 100svw;
  min-height: 100svh;
}
