$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 800;


$tg-theme-bg: var(--tg-theme-bg-color);
$tg-theme-secondary-bg: var(--tg-theme-secondary-bg-color);
$tg-theme-header-bg: var(--tg-theme-header-bg-color);
$tg-theme-section-bg: var(--tg-theme-section-bg-color);

$tg-theme-text: var(--tg-theme-text-color);
$tg-theme-hint: var(--tg-theme-hint-color);
$tg-theme-link: var(--tg-theme-link-color);

$tg-theme-accent: var(--tg-theme-accent-text-color);

$tg-theme-button: var(--tg-theme-button-color);
$tg-theme-button-text: var(--tg-theme-button-text-color);


$tg-theme-section-header-text: var(--tg-theme-section-header-text-color);
$tg-theme-subtitle-text: var(--tg-theme-subtitle-text-color);

$tg-theme-destructive-text: var(--tg-theme-destructive-text-color);
